.intro {
  font-style: italic;
  font-size: 36px;
}

p.intro {
  font-family: fantasy;
  color: blue;
}

img.intro {
  margin: 20px;
  padding: 20px;
  border:solid #003300 4px;
  background: #006600;
}
