.dark-background {
  background-color: #2d2d2d;
  color: #f9f9f9;
}

.light-background {
  background-color: #f9f9f9;
}

.red-background {
  background-color: red;
}

.btn {
  background-color: #f9f9f9;
  color: #2d2d2d;
}

.btn:hover {
  background-color: #2d2d2d;
  color: #f9f9f9;
}

body {
  margin-left: 25px;
}
